<div class="header">
  <!-- <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul> -->
  <h3 class="text-muted">questionary</h3>
</div>

<div class="jumbotron">
  <!--  here starts the questionary -->
  <!-- <section ng-repeat="section in questionary" title="{{section.identifier}}" description="Esta es una descripcion ejemplo"> -->
  <section title="{{currentSection.identifier}}" description="Esta es una descripcion ejemplo">
    <question ng-repeat="q in currentSection.questions" ng-init="outerIdx=$index" idx="outerIdx" type="q.type" body="q.body" debug="true">
      <h4 class="question-title">{{q.title}}</h4>
      <h5 class="question-description">{{q.help}}</h5>
    </question>
  </section>
  <button class="btn btn-primary" ng-click="previousSection()">Atrás</button>
  <button class="btn btn-primary" ng-click="nextSection()">Siguiente</button>
</div>

<div class="row marketing">

</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
