<div class="header">
  <!-- <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul> -->
  <h3 class="text-muted">Brand</h3>
</div>

<div class="jumbotron">
  <!--  here starts the questionary -->
  <questionary first-section="1.B.1" last-section="5.C" sections="sections" current-section="currentSection">
    <section title="{{currentSection.identifier}}" description="Esta es una descripcion ejemplo">
      <question ng-repeat="q in currentSection.questions" ng-init="outerIdx=$index" idx="outerIdx" title="q.title" description="q.description" type="q.type" body="q.body" debug="false">
        <question ng-if="q.body.selected_value.question" idx="outerIdx" title="q.body.selected_value.question.title" description="q.body.selected_value.question.description" type="q.body.selected_value.question.type" body="q.body.selected_value.question.body"></question>
      </question>
    </section>
    <button class="btn btn-primary" ng-disabled="sectionIdx <= 0" ng-click="previousSection()">Regresar</button>
    <button class="btn btn-primary" ng-disabled="sectionIdx >= (numberOfSections.length)" ng-click="nextSection()">Continuar</button>
  </questionary>

</div>

<div class="row marketing">

</div>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
